# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"
alias g="git"
alias gp="git pull"
alias gc="git checkout"
alias gcm="git commit --allow-empty"
alias gmg="git merge"
alias k="kubectl"
alias klsctx="kubectl config get-contexts"
alias kctx="kubectl config use-context"
alias klsp="kubectl get pods"
alias klss="kubectl get services"
alias tdpf="kubectl port-forward service/tenant-db-postgres-cluster-rw 5431:5432 -n dev-shared-2"

# File listing (relies on variables set in your shell's rc file)
alias l="ls -lF \$colorflag"
alias la="ls -lAF \$colorflag"
alias lsd="ls -lF \$colorflag | grep '^d'"
alias ls="command ls \$colorflag"

# Always enable colored grep output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed (Bash/Zsh only, Fish ignores this gracefully if unused)
alias sudo='sudo '

# Utilities
alias week='date +%V'
alias grunt="grunt --stack"
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME"